<h1 style ="margin-left:100px;"> Hello <%=@user.name%>
</h1>

<div style ="text-align:center;">
  <h3>Add earthquake locator:</h3>
  <form action ="/notifications/<%=@user.id%>" method="post">
    <input type="text" name="magnitude" placeholder="min magnitude"></input>
    <input type="text" name="radius" placeholder="0.mi"></input>
    <input type="text" name="zipcode" placeholder="location"></input>
    <input type="submit" value="submit"></input>

  </form>
<div>

<h2>Listed locations</h2>
<center>
<table border=2px cellspacing="1" cellpadding="1" font-family="Arial" font-size="30" bgcolor="white">
  <tr>
    <th>Magnitude</th>
    <th>Radius</th>
    <th>Location</th>
    <th>Go</th>
  </tr>
  <%@notices.each do |notice|%>
    <tr>
      <td><%=notice.magnitude%> </td>
      <td><%=notice.radius%></td>
      <td><%=notice.zipcode%> </td>
      <td><a href="/notifications/<%=notice.id%>">Go</a></td>
    </tr>
  <%end%>
</table>
</center>
